.dashboard-nav-bg-container {
  background-image: linear-gradient(
    to right,
    #539fe1 0%,
    #73b1e7 24%,
    #0a77d5 53%,
    #539fe1 100%,
    #87bcea 100%,
    #539fe1 101%
  );
  padding: 10px;
}


@media screen and (max-width: 610px){
  .dashboard-nav-container {
    
    width: 100% !important;
    
  }
}

.dashboard-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-style: none;
}
.db-nav-ul-list-container {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

.db-nav-link-item {
  color: #ffffff;
  text-decoration: none;
}
.db-nav-logo {
  width: 60px;
  justify-content:space-around;
  
}

@media screen and (max-width: 480px){
  .db-nav-logo {
    text-align: center !important;
    width: 60px;
  }
}
.image{
  justify-content: center;
  text-align: center;
  display: flex;
  align-items: center;
}

.list-names{
  margin-left: 15px;
  margin-bottom: 0px;
  text-decoration: none;
  color: #ffffff;
}