.nav-container {
    position: fixed;
    padding-right: 20px;
    background-color:  rgba(59, 59, 59, 0.7);
   
  }
  
  .nav-container:hover {
    background-color:  rgba(59, 59, 59, 0.7);
 }
  .hr-line {
    margin-top: 0px;
    width: 0px;
    position: fixed;
  }

  .fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    
    
  }
  .navbar-container{
    display: flex;
    
   padding-top: 15px;
   background-color:  rgba(59, 59, 59, 0.7);
  
   height: 90px;
  }

  .navbar-logo{
width: 150px;
height: 60px !important;
margin-left: 250px;
  }

  .header{
    padding-top: 15px;
    text-align: center;
    margin-left: 150px;
  }

  .navbar-heading{
    color: #B5B5B5;
    
    text-decoration: none;
    margin-left: 30px;
    
  }