.event-container {
    background-color: #f9bc48;
    cursor: pointer;
    border: 5px solid #e0e0e0;
    width: 320px;
    margin-bottom: 5px;
  }
  
  .hr-line {
    color: white;
    height: 1px;
    background-color: white;
  }
  
  .bday-bottom-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    align-self: center;
    text-align: center;
  }
  
  .bday-heading {
    color: blue;
    font-size: 35px;
    margin-bottom: 0px;
  }
  
  .bday-description {
    color: white;
    font-size: 25px;
  }